[View in Colaboratory](https://colab.research.google.com/github/praveenkanumarlapudi/SQL-Playground/blob/master/Analytical_Functions_ORACLE_sql.ipynb)

# Oracle : Analytical Functions - 

Easiest way to undersyand Analytical functions is by first understanding Aggregate functions. Aggregate functions operates on multiple rows or  a group of rows and the reulslting no.of rows are always less than input rows. 

Like Aggregate functions, Analytical functions also operate on multiple rows but it will never reduce the no.of input rows when producting the output


i used https://livesql.oracle.com/ for practicing these queries

In [0]:
Example: 


***Emp table:***

---

> EMPNO	ENAME	JOB	MGR	HIREDATE	SAL	COMM	DEPTNO
7369	SMITH	CLERK	7902	17-DEC-80	800	-	20
7499	ALLEN	SALESMAN	7698	20-FEB-81	1600	300	30
7521	WARD	SALESMAN	7698	22-FEB-81	1250	500	30
7566	JONES	MANAGER	7839	02-APR-81	2975	-	20
7654	MARTIN	SALESMAN	7698	28-SEP-81	1250	1400	30
7698	BLAKE	MANAGER	7839	01-MAY-81	2850	-	30
7782	CLARK	MANAGER	7839	09-JUN-81	2450	-	10
7788	SCOTT	ANALYST	7566	19-APR-87	3000	-	20
7839	KING	PRESIDENT	-	17-NOV-81	5000	-	10
7844	TURNER	SALESMAN	7698	08-SEP-81	1500	0	30
7876	ADAMS	CLERK	7788	23-MAY-87	1100	-	20
7900	JAMES	CLERK	7698	03-DEC-81	950	-	30
7902	FORD	ANALYST	7566	03-DEC-81	3000	-	20
7934	MILLER	CLERK	7782	23-JAN-82	1300	-	10

In [0]:
Using Aggregate Function: 
select deptno, AVG(sal) from emp group by deptno order by deptno;

Result:


DEPTNO	AVG(SAL)

---
10	        2916.666666666666666666666666666666666667
20	        2175
30	        1566.666666666666666666666666666666666667

**Observations : **
* output of Aggregatefunction is reduced no.of input records

**Analytical Functions :** Analytic functions also operate on subsets of rows, similar to aggregate functions in GROUP BY queries, but they do not reduce the number of rows returned by the query. For example, the following query reports the salary for each employee, along with the average salary of the employees within the department.

In [0]:
select deptno, empno, sal, AVG(sal) over(PARTITION BY DEPTNO) from emp order by deptno;

In [0]:
Result:

DEPTNO	EMPNO	SAL	AVG(SAL)OVER(PARTITIONBYDEPTNO)
10	7782	2450	2916.666666666666666666666666666666666667
10	7839	5000	2916.666666666666666666666666666666666667
10	7934	1300	2916.666666666666666666666666666666666667
20	7566	2975	2175
20	7902	3000	2175
20	7876	1100	2175
20	7369	800	2175
20	7788	3000	2175
30	7521	1250	1566.666666666666666666666666666666666667
30	7844	1500	1566.666666666666666666666666666666666667
30	7499	1600	1566.666666666666666666666666666666666667
30	7900	950	1566.666666666666666666666666666666666667
30	7698	2850	1566.666666666666666666666666666666666667
30	7654	1250	1566.666666666666666666666666666666666667

**Observations: ** 

* The no.of rows in output are not reduced.

* In the above example, Avug function is applied over group of rows defined by contents of OVER() clause, group of rows are called "**Windows**". sometimes these also reffered as Windowing functions.

* The reason the output rows are similar to input rows,  **Analytical functions are perfomed after all JOIN, WHERE, GROUP BY, HAVING caluse are peformed but before final ORDER BY Clause**

# Analytic Function Syntax:

***analytic_function(arguments) OVER(analytic_clause)***

![alt text](https://docs.oracle.com/cd/E11882_01/server.112/e41084/img/analytic_function.gif)


***analytic_clause: [query_by_partition_caluse] [order_by_clause[windowing_clause]]***

![alt text](https://docs.oracle.com/cd/E11882_01/server.112/e41084/img/analytic_clause.gif)

## ***query_by_partition_caluse*** : 
Query by partition divides the reult set into groups or partitions and analytic function is operated on the groups of data resulted from *query_by_partition_caluse*. 

Example : Below query operates on DEPTNO partitions which acts similar to GROUP BY DEPTNO

In [0]:
select deptno, empno, sal, AVG(sal) over(PARTITION BY DEPTNO) from emp order by deptno;

In [0]:
Result:

DEPTNO	EMPNO	SAL	AVG(SAL)OVER(PARTITIONBYDEPTNO)
10	7782	2450	2916.666666666666666666666666666666666667
10	7839	5000	2916.666666666666666666666666666666666667
10	7934	1300	2916.666666666666666666666666666666666667
20	7566	2975	2175
20	7902	3000	2175
20	7876	1100	2175
20	7369	800	2175
20	7788	3000	2175
30	7521	1250	1566.666666666666666666666666666666666667
30	7844	1500	1566.666666666666666666666666666666666667
30	7499	1600	1566.666666666666666666666666666666666667
30	7900	950	1566.666666666666666666666666666666666667
30	7698	2850	1566.666666666666666666666666666666666667
30	7654	1250	1566.666666666666666666666666666666666667

**Note :** 

* When you leave query_partition_clause empty whole resultset is treated as a single partition

In [0]:
SELECT empno, deptno, sal,
       AVG(sal) OVER () AS avg_sal
FROM   emp;

     EMPNO     DEPTNO        SAL    AVG_SAL
---------- ---------- ---------- ----------
      7369         20        800 2073.21429
      7499         30       1600 2073.21429
      7521         30       1250 2073.21429
      7566         20       2975 2073.21429
      7654         30       1250 2073.21429
      7698         30       2850 2073.21429
      7782         10       2450 2073.21429
      7788         20       3000 2073.21429
      7839         10       5000 2073.21429
      7844         30       1500 2073.21429
      7876         20       1100 2073.21429
      7900         30        950 2073.21429
      7902         20       3000 2073.21429
      7934         10       1300 2073.21429

## order_by_clause: 
Order by clause is used when you want to order rows with in a partition or group by clause. if the Analatic funtion is sensitive th order of data in the partition then we use order by clause precceded by partition by

Example : 

Below Query gives empno, deptno, sal and first salary(Lowest sal) in each department.

In [0]:
SELECT EMPNO, DEPTNO, SAL, FIRST_VALUE(SAL IGNORE NULLS) 
                           OVER (PARTITION BY DEPTNO ORDER BY SAL ASC NULLS LAST) 
                           AS first_sal_in_dept
FROM EMP

In [0]:
Result :
  
       EMPNO     DEPTNO        SAL FIRST_VAL_IN_DEPT
---------- ---------- ---------- -----------------
      7934         10       1300              1300
      7782         10       2450              1300
      7839         10       5000              1300

      7369         20        800               800
      7876         20       1100               800
      7566         20       2975               800
      7788         20       3000               800
      7902         20       3000               800

      7900         30        950               950
      7654         30       1250               950
      7521         30       1250               950
      7844         30       1500               950
      7499         30       1600               950
      7698         30       2850               950

*ASC NULLS LAST* - 

* when order by ASC default for null is NULLS LAST
* When order by DESC default for null is NULLS FIRST

## windowing_clause : 

In **partition_by_clause** we have seen it gives Analytical function some control over the data, like it can operate on different groups of data. **Windowing_clause ** gives Analytical function little more control over the data from partition_by_clause with in current partiton. ***Windowing_clause ***  is extension to *order_by_clause* it can only be used along with **order_by_clause**

There are two types of Windowing Functions :

* RANGE BETWEEN *start_point *AND *end_point*
* ROWS BETWEEN *start_point* AND *end_point*

**Notes:**
* When using ROWS you are specifing number of rows analytical function should be appiled on in relative to CURRENT_ROW
* When using RANGE you are specifing RANGE of column values in relative to the value in the CURRENT_ROW


**start_point and end_point :**
* **UNBOUNDED PRECEEDING :**  *starting_point* of the window **starts at the firstrow of the partition** or first row of the resultset if no partition is mentioned ------- **Only applicable to** *start_point*

* **UNBOUNDED FOLLOWING :**  *end_point* of the window is **LASTROW of the partition or the resultset** if no partition is mentioned. ----- **Only applicable to** *end_point*


BY DEFAULT : **if  no WINDOW_CLAUSE is mentioned  default value is UNBOUNDED PRECEEDING AND CURRENTROW**

See the example below

In [0]:
SELECT DEPTNO, EMPNO, SAL, SUM(SAL) 
                      OVER (PARTITION BY DEPTNO ORDER BY SAL)   -- DEFAULT WINDOWING CLAUSE UNBOUNDED PRECEEDING AND CURRENT ROW
                      FROM EMP

In [0]:
DEPTNO	EMPNO	SAL	SUM(SAL)OVER(PARTITIONBYDEPTNOORDERBYSAL)
10	7934	1300	1300
10	7782	2450	3750
10	7839	5000	8750
20	7369	800	800
20	7876	1100	1900
20	7566	2975	4875
20	7788	3000	10875
20	7902	3000	10875
30	7900	950	950
30	7654	1250	3450
30	7521	1250	3450
30	7844	1500	4950
30	7499	1600	6550
30	7698	2850	9400

observations : 
* When no Window_clause is mentioned by default it is **UNBOUNDED PRECEEDING AND CURRENT ROW**
* Moving sum is given for each row
* start_point is first row in each deptno group since we have partitions on PARTITION BY DEPTNO
* end_point is CURRENT ROW since it is a default value

In [0]:
Example 2: Find Avg. of SAL by EACH DEPT
  SELECT DEPTNO, EMPNO, SAL, AVG(SAL)
                           OVER (PARTITION BY DEPTNO ORDER BY SAL 
                           RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS DEPT_AVG
                           FROM EMP

In [0]:
DEPTNO	EMPNO	SAL	DEPT_AVG
10	7934	1300	2916.666666666666666666666666666666666667
10	7782	2450	2916.666666666666666666666666666666666667
10	7839	5000	2916.666666666666666666666666666666666667
20	7369	800	2175
20	7876	1100	2175
20	7566	2975	2175
20	7788	3000	2175
20	7902	3000	2175
30	7900	950	1566.666666666666666666666666666666666667
30	7654	1250	1566.666666666666666666666666666666666667
30	7521	1250	1566.666666666666666666666666666666666667
30	7844	1500	1566.666666666666666666666666666666666667
30	7499	1600	1566.666666666666666666666666666666666667
30	7698	2850	1566.666666666666666666666666666666666667

**OBSERVATIONS :**

* start_point is firstrow of the deptno partition  (UNBOUNDED PRECEEDING)
* end_point is lastrow of the deptno partition (UNBOUNDED FOLLOWING)



By Default Window_clause is RANGE BETWEEN UNBOUNDED PRECEEDING AND CURRENT ROW. it is RANGE not ROW. 

* I**ssue with RANGE is it includes rows with same value as the value in current row. **

check below Example:

In [0]:
SELECT DEPTNO, EMPNO, SAL, AVG(SAL)
                           OVER (PARTITION BY DEPTNO ORDER BY SAL 
                           RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS DEPT_AVG_RANGE,
                           AVG(SAL)
                           OVER (PARTITIOn BY DEPTNO ORDER BY SAL
                           ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS DEPT_AVG_ROWS
                           FROM EMP

In [0]:
DEPTNO	EMPNO	SAL	DEPT_AVG_RANGE	DEPT_AVG_ROWS
10	7934	1300	1300	1300
10	7782	2450	1875	1875
10	7839	5000	2916.666666666666666666666666666666666667	2916.666666666666666666666666666666666667
20	7369	800	800	800
20	7876	1100	950	950
20	7566	2975	1625	1625
### 20	7788	3000	2175	1968.75
### 20	7902	3000	2175	2175
30	7900	950	950	950
30	7654	1250	1150	1100
30	7521	1250	1150	1150
30	7844	1500	1237.5	1237.5
30	7499	1600	1310	1310
30	7698	2850	1566.666666666666666666666666666666666667	1566.666666666666666666666666666666666667

Observations:
* Observe the values highlited in above resultset, RANGE AVG gave same value for SAL 3000 though those are two different rows, **it happend because range always considers ROWS with same value as the value in the CURRENT ROW**, it will not cosider same values in different ROWS as differen thats why in this kind of cases ROW is considered better solution than RANGE.

Example : Write Query to print previous_sal and next_sal for each row

In [0]:
SELECT empno, deptno, sal,
       FIRST_VALUE(sal IGNORE NULLS) OVER (ORDER BY SAL ROWS BETWEEN 1 PRECEDING AND CURRENT ROW) AS prev_sal,
       LAST_VALUE(sal IGNORE NULLS) OVER (ORDER BY sal ROWS BETWEEN CURRENT ROW AND 1 FOLLOWING) AS next_sal
       from EMP

In [0]:
RESULT :
  
EMPNO	DEPTNO	SAL	PREV_SAL	NEXT_SAL
7369	20	800	800	950
7900	30	950	800	1100
7876	20	1100	950	1250
7521	30	1250	1100	1250
7654	30	1250	1250	1300
7934	10	1300	1250	1500
7844	30	1500	1300	1600
7499	30	1600	1500	2450
7782	10	2450	1600	2850
7698	30	2850	2450	2975
7566	20	2975	2850	3000
7788	20	3000	2975	3000
7902	20	3000	3000	5000
7839	10	5000	3000	5000