[View in Colaboratory](https://colab.research.google.com/github/praveenkanumarlapudi/SQL-Playground/blob/master/LAGandLEAD.ipynb)

# LAG and LEAD Analytic Functions

LEAD and LAG both analytical functions gives access to multiple rows in a table with out using self-join

Syntax :

**LEAD (value, [offset[,default]]) [{RESPECT | IGNORE}] NULLS**


**LAG(value, [offset[,default]]) [{RESPECT|IGNORE}] NULLS**

EXAMPLE : find the difference of emp salary with previous emp salary dept wise

**LAG :**


The LAG function is used to access data from a previous row.

In [0]:
SELECT EMPNO, DEPTNO, SAL, LAG(SAL, 1, 0)
                           OVER (PARTITION BY DEPTNO  ORDER BY SAL) PREV_EMP_SAL,
                      SAL-LAG(SAL, 1, 0)
                           OVER (PARTITION BY DEPTNO ORDER BY SAL)  PREV_EMP_DIFF
                       FROM EMP

In [0]:
EMPNO	DEPTNO	SAL	PREV_EMP_SAL	PREV_EMP_DIFF
7934	10	1300	0	1300
7782	10	2450	1300	1150
7839	10	5000	2450	2550
7369	20	800	0	800
7876	20	1100	800	300
7566	20	2975	1100	1875
7788	20	3000	2975	25
7902	20	3000	3000	0
7900	30	950	0	950
7654	30	1250	950	300
7521	30	1250	1250	0
7844	30	1500	1250	250
7499	30	1600	1500	100
7698	30	2850	1600	1250

**LEAD :**

The LEAD function is used to return data from rows further down the result set. The following query returns the salary from the next row to calculate the difference between the salary of the current row and the following row.

In [0]:
SELECT EMPNO, DEPTNO, SAL, LEAD(SAL, 1, 0)
                           OVER (PARTITION BY DEPTNO ORDER BY SAL) NEXT_EMP_SAL,
                       LEAD(SAL, 1, 0)
                           OVER (PARTITION BY DEPTNO ORDER BY SAL) - SAL NEXT_EMP_DIFF
                           FROM EMP

In [0]:
EMPNO	DEPTNO	SAL	NEXT_EMP_SAL	NEXT_EMP_DIFF
7934	10	1300	2450	1150
7782	10	2450	5000	2550
7839	10	5000	0	-5000
7369	20	800	1100	300
7876	20	1100	2975	1875
7566	20	2975	3000	25
7788	20	3000	3000	0
7902	20	3000	0	-3000
7900	30	950	1250	300
7654	30	1250	1250	0
7521	30	1250	1500	250
7844	30	1500	1600	100
7499	30	1600	2850	1250
7698	30	2850	0	-2850